<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>oAuth2 Provisioning Portal</h1>
            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>We suggest the following steps:</h3>
        <ol class="round">
            <li class="one">
                <h5>Applications</h5>
                Manage all applications/editions that needs to be provisioned
            </li>

            <li class="two">
                <h5>Customers</h5>
                Manage all customers who need apps/editions to be provisioned
            </li>
            <li class="three">
                <h5>Provisions</h5>
                Manage customer application/edition provisions
            </li>
        </ol>
    </section>
</div>
